extends layout

block content
  p Name: #{stick.name}
  p Category: #{stick.category.name}
  p Price: #{stick.price}
  img(src=stick.image_url width='100')
  hr
  a(href=stick.url+'/update') Update stick details
  a(href=stick.url+'/delete') Delete stick

