extends layout

block content
  main
    h1 Add new stick
    form(method='POST' action='')
      div
        label(for='name') Name
        input#name(type='text' name='name' required='true' value=(stick===undefined ? '' : stick.name))
      div
        label(for='description') Description
        input#description(type='text' name='description' required='true' value=(stick===undefined ? '' : stick.description))
      div
        label(for='category') Category
        select#category(required='true' name='category')
          - categories.sort((a, b) => a.name > b.name ? 1 : (a.name < b.name ? -1 : 0));
          for c in categories
            if stick
              - const isSelected = c._id.toString() === stick.category._id.toString();
              option(value=c._id selected=isSelected) #{c.name}
            else
              option(value=c._id) #{c.name}
      div
        label(for='price') Price
        input#price(type='number' name='price' required='true' min='0' value=(stick===undefined ? '0' : stick.price))
      button(type='submit') Submit

